.note-preview-container {
  background-color: var(--default);
  padding: 10px;
  border-radius: var(--radius);
  margin: 10px;
  box-shadow: var(--shadow);
}

.note-preview-container span {
  margin-right: 10px;
}

.note-preview-title {
  font-weight: bold;
}
