.note-preview-container {
  background-color: var(--default);
  padding: 10px;
  border-radius: var(--radius);
  margin: 10px;
}

.note-preview-container span {
  margin-left: 5px;
}

.note-preview-container .note-preview-created {
  color: var(--background);
}
