* {
  padding: 0;
  margin: 0;
}

/* theming */
:root {
  --background: #282a36;
  --background-alt: #44475a;
  --danger: #ff5555;
  --text: #f8f8f2;
  --text-alt: #ccc;
  --default: #6272a4;
  --shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}

::placeholder {
  color: var(--text-alt);
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background);
  color: var(--text);
}

.m-10 {
  margin: 10px;
}

/* inputs*/
.input {
  background-color: var(--background-alt);
  color: var(--text);
  border: none;
  padding: 10px;
  border-radius: 10px;
  box-shadow: var(--shadow);
}

/* buttons */
.btn-default {
  cursor: pointer;
  border: none;
  padding: 10px;
  background-color: var(--default);
  border-radius: 100px;
  text-align: center;
  box-shadow: var(--shadow);
  color: var(--text);
}

.btn-icon {
  width: 40px;
  height: 40px;
}

.btn-danger {
  background-color: var(--danger);
}

#main-container {
  margin: 10px;
}
